<div class="nav">
  <h1>Wikinimous</h1>
  <p><%= link_to "New Article", new_article_path %></p>
</div>

<h1>Articles</h1>

<div class="article">
  <% @articles.each do |article| %>
    <h2> <%= link_to article.title, article_path(article) %></h2>
    <p><%= article.content %></p>
    <%= link_to "Delete", article_path(article),
        method: :delete,
        data: { confirm: "Are you sure?" } %>
  <% end %>
</div>
