// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0;
}

.nav {
  font-family: 'Open Sans', sans-serif;
  background-color: #F8F8F8;
  border: 1px solid #E7E7E7;
  border-radius: 3px;
  h1 {
    margin: 0;
    display: inline-block;
    font-size: 20px;
  }
  p {
    display: inline-block;
  }
}

.article {
  h2 {
    font-family: 'Roboto Slab', serif;
  }
  p {
    font-family: 'Roboto', sans-serif;
  }
}

a {
  text-decoration: none;
}
